{%extends "super_quotes/base.html"%}

{% block content %}
<h3>Реєстрація</h3>

{%if form.errors %}
<span class="alert alert-danger" role="alert">{{form.non_field_errors}}</span>
{% endif %}


<form method="post">
    {% csrf_token %}
    <div class="row mb-3 col-md-6">
        <label>Логін</label>
        {{form.username}}
        <span>{{form.errors.username}}</span>
    </div>
    <div class="row mb-3 col-md-6">
        <label>Прізвище</label>
        {{form.first_name}}
        <span>{{form.errors.first_name}}</span>
    </div>
    <div class="row mb-3 col-md-6">
        <label>Ім'я</label>
        {{form.last_name}}
        <span>{{form.errors.last_name}}</span>
    </div>
    <div class="row mb-3 col-md-6">
        <label>Ел. Пошта</label>
        {{form.email}}
        <span>{{form.errors.email}}</span>
    </div>
    <div class="row mb-3 col-md-6">
        <label>Пароль:</label>
        {{form.password1}}
        <span>{{form.errors.password1}}</span>
    </div>
    <div class="row mb-3 col-md-6">
        <label>Підтвердити пароль:</label>
        {{form.password2}}
        <span>{{form.errors.password2}}</span>
    </div>
    <button type="submit" class="btn btn-info">Заново</button>
    <button type="submit" class="btn btn-primary">Реєструємось</button>
</form>
{% endblock %}