{%extends "super_quotes/base.html"%}

{% block content %}
<h3>Ввійти</h3>

{%if form.errors %}
<span class="alert alert-danger" role="alert">{{form.non_field_errors}}</span>
{% endif %}

{%if messages %}
{%for msg in messages %}
<span class="alert {% if msg.tags %} alert-{{msg.tags}} {% endif %}" role="alert">{{msg}}</span>
{% endfor %}
{% endif %}


<form method="post">
    {% csrf_token %}
    <div class="row mb-3 col-md-6">
        <label for="{{form.username.id_for_label}}">Логін</label>
        {{form.username}}
        <span>{{form.errors.username}}</span>
    </div>
    <div class="row mb-3 col-md-6">
        <label for="{{form.password.id_for_label}}">Пароль:</label>
        {{form.password}}
        <span>{{form.errors.password}}</span>
    </div>
    <button type="submit" class="btn btn-info">Заново</button>
    <button type="submit" class="btn btn-primary">Ввійти</button>
    <div class="small text-center">
        <a href="{% url "users:password_reset" %}" class="text-center"><i>Forgot Password?</i></a>
    </div>
</form>
{% endblock %}