<div class="col-md-2">
            <h4>Чудова статистика</h4>
            <p class="btn btn-warning">На дату: {{ war_info.date }}</p>
            <p class="btn btn-info">Танки: {{ war_info.tanks }}</p>
            <p class="btn btn-info">ББМ: {{ war_info.bbm }}</p>
            <p class="btn btn-info">Гармати: {{ war_info.artillery }}</p>
            <p class="btn btn-info">РСЗВ: {{ war_info.rszw }}</p>
            <p class="btn btn-info">Засоби ППО: {{ war_info.ppo }}</p>
            <p class="btn btn-info">Літаки: {{ war_info.planes }}</p>
            <p class="btn btn-info">Гелікоптери: {{ war_info.helicopters }}</p>
            <p class="btn btn-info">БПЛА: {{ war_info.drones }}</p>
            <p class="btn btn-info">Крилаті ракети: {{ war_info.rockets }}</p>
            <p class="btn btn-info">Кораблі (катери): {{ war_info.ships }}</p>
            <p class="btn btn-info">Автомобілі: {{ war_info.vehicles }}</p>
            <p class="btn btn-info">Спец. техніка: {{ war_info.auto }}</p>
            <p class="btn btn-info">Орки: {{ war_info.orks }}</p>
        </div>